@import url(http://fonts.googleapis.com/css?family=Architects+Daughter|Averia+Gruesa+Libre);

/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------- WIREFRAME.CSS -------------------- */

body {
	font-family: "Architects Daughter", sans-serif;
	font-size: 16px;
	padding: 1rem;
}

/* Navigation 
.close {
	background-color: white;
	color: #008CBA;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	display: inline-block;
	cursor: pointer;
}*/



/* --------------------- TABLES ---------------------------- */
TABLE, THEAD, TBODY{
	border: 0;
	border-collapse: collapse;
	width: 100%;
}
THEAD TR {
	background-color: dimgrey;
	color: white;
	font-weight: bold;
	text-align: left;
}
TH, TD {
	padding: 0.5rem;
	position: relative;
	text-align: left;
}
TABLE.compact TH, TD {
	padding: 0.25rem;
}
TBODY TR:nth-child(odd)
{
	background-color: whitesmoke;
}
TH.ascending:after, TH.descending:after {
	content: "";
	border: 8px solid rgba(255, 255, 255, 0);
	display: inline-block;
	height: 0;
	margin-left: 0.25rem;
	position: absolute;
	width: 0;
}
TH.ascending:after {
	border-bottom: 8px solid white;
	top: 8px;
}
TH.descending:after {
	border-top: 8px solid white;
	top: 16px;
}
TABLE.compact TH.ascending:after { top: 0; }
TABLE.compact TH.descending:after { top: 8px; }

/* ------------------- WIDGETS ----------------------------- */
BUTTON, INPUT, SELECT {
	font-family: "Architects Daughter", sans-serif;
}
BUTTON, INPUT[type="button"], INPUT.button, A.button {
	font-size: 1.2rem;
}
INPUT, SELECT {
	font-size: 1rem;
}
FIELDSET {
	border: 2px groove;
	padding: 1rem;
}
LEGEND {
	padding: 0 0.25rem;
}
.buttons {
	text-align: center;
}
.button {
	background-color: aliceblue;
	border: solid #555 2px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	margin: 0.5rem 0 0 0;
	padding: 5px;
	position: relative;
	box-shadow: 2px 1px 5px #777
}
.button.secondary, .button.cancel {
	background-color: white;
	box-shadow: none;
}
.button.disabled {
	background-color: #EDEDED;
}
.buttons.compact .button {
	border-width: 1px;
	font-size: 0.71rem;
	margin: 0.25rem 0 0 0;
	padding: 3px;
}
UL.radio-list {
	list-style-image: none;
	list-style-type: none;
	margin: 0 0 1.5rem 0;
	padding-left: 0;
}
UL.radio-list LI {
	margin: 0.125rem 0;
}


/* ------------------- TEXT STYLES --------------------------- */
H1, H2, H3, H4, H5, H6 {
	letter-spacing: 1px; 
	margin: 2rem 0 0.5rem;
}
H1 { font-size: 2rem; font-weight: bold; margin:0.5rem 0 2rem;}
H2 { font-size: 1.75rem; font-weight: bold;}
H3 { font-size: 1.5rem; font-weight: bold; }
H4 { font-size: 1rem; font-weight: bold; }
H5 { font-size: 0.8rem; font-weight: bold; }
H6 { font-size: 0.75rem; }

A {
	color: mediumblue;
}
EM {
	font-style: italic;
}
LI {
	margin-bottom: 0.25rem;
}
P {
	margin-bottom: 1rem;
}
PRE {
	font-family: 'Averia Gruesa Libre', monotype;
}
UL {
	list-style-image: url(bullet.png);
}
.compact {
	font-size: 0.88rem;
}
.currentStatus {
	border: 1px solid darkgrey;
	border-bottom: 0.25rem solid darkgrey;
	border-right: 0.25rem solid darkgrey;
	border-radius: 16px;
	display: inline-block;
	color: dimgrey;
	padding: 0.5rem;
}
.fieldHelp {
	display: inline-block;
	color: darkslategrey;
	font-size: 0.75rem;
	margin-left: 0.5rem;
}
.instructions {
	border-left: 5px solid lightsteelblue;
	padding-left: 0.5rem;
}
.note {
	font-family: 'Averia Gruesa Libre', monotype;
	background-color: dimgrey;
	border-radius: 3px;
	color: white;
	padding: 5px;
}
.note A{
	color: azure;
}
.required:after {
	color: tomato;
	content: ' *';
	font-size: 1.5rem;
}


/* ------------------ PANELS --------------------------------- */
.panel {
	border: 1px solid grey;
	border-radius: 5px;
	display: block;
	overflow: hidden;
	padding: 0;
}

.panel .panel-heading {
	background-color: whitesmoke;
	border-bottom: 1px solid grey;
	padding: 0.5rem;
	margin: 0;
}
.panel.drawn .panel-heading {
	border-bottom: 5px solid;
	border-image: url(box.png) 5 5 5 5 stretch;
}
.panel .panel-heading H1,
.panel .panel-heading H2,
.panel .panel-heading H3,
.panel .panel-heading H4,
.panel .panel-heading H5,
.panel .panel-heading H6 {
	margin: 0;
}

.panel .panel-body {
	background-color: white;
	margin: 0;
	padding: 1rem;
}
.panel .panel-body P:first-child {
	margin-top: 0;
}
.panel .panel-footer {
	border-top: 1px solid grey;
	color: dimgrey;
	font-size: 0.81rem;
	margin: 0;
	padding: 0.5rem;
}
.panel.drawn .panel-footer{
	border-top: 5px solid;
	border-image: url(box.png) 5 5 5 5 stretch;
}
.panel .panel-footer P {
	margin: 0;
}

.drawn, .panel.drawn {
	border: 5px solid;
	border-image: url('box.png') 5 5 5 5 stretch;
	-webkit-border-image: url('box.png') 5 5 5 5 stretch;
	-moz-border-image: url('box.png') 5 5 5 5 stretch;
	/*padding: 16px;*/
}
/* IE10 or less does not support border images. Here we can provide a fallback. */
.lte10 .drawn {
	border-width: 2px;
}


/* ------------------ ICONS ---------------------------------- */
SPAN.icon {
	background-image: url("wf-sprite.png");
	background-position: 40px 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 40px;
	margin: 0.5rem;
	vertical-align: middle;
	width: 40px;
}
SPAN.icon.compact {
	background-size: 440px 20px;
	height: 20px;
	width: 20px;
}
SPAN.icon.add {background-position: 0 0;}
SPAN.icon.arrowdown { background-position: -40px 0;}
SPAN.icon.arrowright { background-position: -80px 0;}
SPAN.icon.arrow { background-position: -120px 0;}
SPAN.icon.attachment { background-position: -160px 0;}
SPAN.icon.closed { background-position: -200px 0;}
SPAN.icon.document { background-position: -240px 0;}
SPAN.icon.doubledown { background-position: -280px 0;}
SPAN.icon.doubleright { background-position: -320px 0;}
SPAN.icon.download { background-position: -360px 0;}
SPAN.icon.edit { background-position: -400px 0;}
SPAN.icon.ellipsis { background-position: -440px 0;}
SPAN.icon.error { background-position: -480px 0;}
SPAN.icon.info { background-position: -520px 0;}
SPAN.icon.minus { background-position: -560px 0;}
SPAN.icon.ok { background-position: -600px 0;}
SPAN.icon.open { background-position: -640px 0;}
SPAN.icon.options { background-position: -680px 0;}
SPAN.icon.plus { background-position: -720px 0;}
SPAN.icon.reload { background-position: -760px 0;}
SPAN.icon.upload { background-position: -800px 0;}
SPAN.icon.warning { background-position: -840px 0;}

SPAN.icon.arrowdown.compact { background-position: -20px 0}
SPAN.icon.arrowright.compact { background-position: -40px 0}
SPAN.icon.arrow.compact { background-position: -60px 0;}
SPAN.icon.attachment.compact { background-position: -80px 0;}
SPAN.icon.closed.compact { background-position: -100px 0;}
SPAN.icon.document.compact { background-position: -120px 0;}
SPAN.icon.doubledown.compact { background-position: -140px 0;}
SPAN.icon.doubleright.compact { background-position: -160px 0;}
SPAN.icon.download.compact { background-position: -180px 0;}
SPAN.icon.edit.compact { background-position: -200px 0;}
SPAN.icon.ellipsis.compact { background-position: -220px 0;}
SPAN.icon.error.compact { background-position: -240px 0;}
SPAN.icon.info.compact { background-position: -260px 0;}
SPAN.icon.minus.compact { background-position: -280px 0;}
SPAN.icon.ok.compact { background-position: -300px 0;}
SPAN.icon.open.compact { background-position: -320px 0;}
SPAN.icon.options.compact { background-position: -340px 0;}
SPAN.icon.plus.compact { background-position: -360px 0;}
SPAN.icon.reload.compact { background-position: -380px 0;}
SPAN.icon.upload.compact { background-position: -400px 0;}
SPAN.icon.warning.compact { background-position: -420px 0;}


/* ------------------ USER MESSAGES -------------------------- */
.message {
	border: 1px solid grey;
	border-radius: 1rem;
	box-shadow: 5px 5px 5px grey;
	font-size: 1.25rem;
	min-height: 40px;
	padding: 2rem 28px 1.5rem 5rem;
	position: relative;
}
.message.compact {
	font-size: 1rem;
	padding: 1rem 28px 0.5rem 5rem;
}
.message SPAN.icon {
	position: absolute;
	left: 1rem;
	top: 1rem;
}
.message SPAN.closeIcon {
	background-image: url("wf-sprite.png");
	background-position: -240px 0;
	background-repeat: no-repeat;
	background-size: 440px 20px;
	display: block;
	height: 20px;
	opacity: 0.25;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	width: 20px;
}
.message SPAN.closeIcon:hover {
	cursor: pointer;
	opacity: 1;
}
.message.error {
	background-color: mistyrose;
	color: crimson;
}
.message.info {
	background-color: lightcyan;
	color: darkslateblue;
}
.message.loading {
	border: 0;
	box-shadow: none;
	padding-left: 0;
	text-align: center;
}
.message.loading SPAN.icon {
	display: none;
	visibility: hidden;
}
.message.no-data {
	background-color: gainsboro;
	color: lightslategrey;
}
.message.success {
	background-color: mintcream;
	color: darkgreen;
}
.message.warning {
	background-color: papayawhip;
	color: sienna;
}


/* ------------------ EXPAND / COLLAPSE ---------------------- */
SPAN.collapse-toggle {
	/*background-image: url(open.png);
	background-repeat: no-repeat;
	background-size: 21px;*/
	cursor: pointer;
	display: block;
	float: left;
	height: 20px;
	margin-top: -0.25rem;
	width: 20px;
}
DIV.collapse-toggle.collapsed {
	background-image: url(closed.png);
}
DIV.collapse-area {
	margin-left: 2rem;
}
DIV.collapse-area > SPAN > H1, DIV.collapse-area > SPAN > H2, 
DIV.collapse-area > SPAN > H3, DIV.collapse-area > SPAN > H4,
DIV.collapse-area > SPAN > H5, DIV.collapse-area > SPAN > H6 {
	cursor: pointer;
}
.hide {
	display: none;
	visibility: hidden;
}


/* ------------------ LOADING INDICATOR ----------------------*/
/* From http://tobiasahlin.com/spinkit/. See also the message.loading class. */

.spinner {
    display: inline-block;
    font-size: 10px;
    height: 30px;
    margin: 0 1rem;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.spinner > div {
  background-color: cornflowerblue;
  display: inline-block;
  height: 100%;
  margin: 2px;
  width: 6px;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.left { text-align: left;}
.right { text-align: right;}
.center { text-align: center;}


/* ------------------- COLORS --------------------- */
.aliceblue{ background-color: aliceblue !important; }
.antiquewhite{ background-color: antiquewhite !important; }
.azure{ background-color: azure !important; }
.beige{ background-color: beige !important; }
.bisque{ background-color: bisque !important; }
.blanchedalmond{ background-color: bleachedalmond !important; }
.burlywood{ background-color: burlywood !important; }
.cornsilk{ background-color: cornsilk !important; }
.floralwhite{ background-color: floralwhite !important; }
.gainsboro{ background-color: gainsboro !important; }
.ghostwhite{ background-color: ghostwhite !important; }
.honeydew{  background-color: honeydew !important; }
.ivory{ background-color: ivory !important; }
.khaki{ background-color: khaki !important; }
.lavender{ background-color: lavender !important; }
.lavenderblush{ background-color: lavenderblush !important; }
.lemonchiffon{ background-color: lemonchiffon !important; }
.lightcyan{ background-color: lightcyan !important; }
.lightgray{ background-color: lightgray !important; }
.lightgrey{ background-color: lightgrey !important; }
.lightyellow{ background-color: lightyellow !important; }
.linen{ background-color: linen !important; }
.mintcream{ background-color: mintcream !important; }
.mistyrose{ background-color: mistyrose !important; }
.mocassin{ background-color: mocassin !important; }
.oldlace{ background-color: oldlace !important; }
.palegoldenrod{ background-color: palegoldenrod !important; }
.papayawhip{ background-color: papayawhip !important; }
.peachpuff{ background-color: peachpuff !important; }
.powderblue{ background-color: powderblue !important; }
.rebeccapurple{ background-color: rebeccapurple !important; }
.seashell{ background-color: seashell !important; }
.silver{ background-color: silver !important; }
.thistle{ background-color: thistle !important; }
.tomato{ background-color: tomato !important; }
.wheat{ background-color: wheat !important; }
.whitesmoke{ background-color: whitesmoke !important; }