<div class="topic">
	<div class="section group">
		<div class="col span_8_of_12">
			<div class="example">
                <!-- Put working code here to show the example. -->
			</div>
			
			<div class="code">
				<!-- Can beautify HTML with http://hilite.me --> 
			</div>
		</div>
	
	    <div class="col span_4_of_12">
			<div class="options">
				<fieldset>
					<legend>Options</legend>
					<ul class="radio-list">
						<li>
							<label>
								<input type="radio" value="open" data-ng-model="scopeVariable" /> 
								Option 1
						</label>
						</li>
						<li>
							<label>
								<input type="radio" value="closed" data-ng-model="scopeVariable" />
								Option 2
							</label>
						</li>
					</ul>
				</fieldset>
			</div>
			<div class="usage">
				<h4>Usage</h4>
				<ul>
					<li>Keep these brief...</li>
					<li>... but don't leave too much out.</li>
				</ul>
			</div>
	    </div>
	</div>
</div>